.button {
    background: #e8b846;
    color: #111111;
    border-color: transparent;
    border-radius: 11px;
    padding: 9px 21px 10px 20px;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.button:hover {
    color: #FFFFFF;
    background: #000000;
}

#export-gui-button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#share-gui-button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
