body {
    background: linear-gradient(#292d33, #121212);
    color: #FFFFFF;
}

.blur {
    background: black;
}

input[type=text] {
    background: linear-gradient(#181818, #121212);
    color: #FFFFFF;
    border: 1px solid #333333;
}

input[type=number] {
    background: linear-gradient(#181818, #121212);
    color: #FFFFFF;
    border: 1px solid #333333;
}

.shadow {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111111;
}

::-webkit-scrollbar-thumb {
    background: #24252a;
}

::-webkit-scrollbar-thumb:hover {
    background: #101010;
}

select {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #333333;
    background: linear-gradient(#181818, #121212);
    color: #FFFFFF;
}

select option {
    margin: 40px;
    background: #181818;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}