html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

select {
    display: block;
    padding: 5px 35px 5px 5px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}

.logo-image {
    position: relative;
    top: 1vh;
    left: 1vh;
    width: 8vh;
    height: 8vh;
}

.shadow {
    box-shadow: 0 0 20px 1px #cccccc;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
