#properties-window {
    grid-area: properties;
    overflow-x: hidden;
    overflow-y: scroll;
}

#properties-container {
    margin: 20px 20px 20px 20px;
}

.properties-label {
    position: relative;
}

.properties-input {
    float: right;
}

.properties-states {
    text-align: center;
}
