.toast {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    max-width: 400px;
    padding: 6px;
    background: #CCCCCC;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast--visible {
    top: 20px;
    visibility: visible;
    opacity: 1;
}

.toast--success {
    background: #00c02b;
    color: #FFFFFF;
}

.toast--error {
    background: #db545a;
    color: #FFFFFF;
}

.toast--upload {
    background: #98C1D9;
    color: #FFFFFF;
}