#file-section {
    grid-area: file-selector;
    text-align: center;
}

#file-chooser {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #e8b846;
    padding: 100px 200px 100px 200px;
    font-size: 16px;
    line-height: 1.6;
    color: #111111;
}

@media only screen and (max-width: 1000px)  {
    body {
        font-size: 12px;
    }
    #darkmode-toggle-label {
        margin-right: 20px;
    }

    #file-chooser {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -100%);
        background: #e8b846;
        width: 100%;
        padding: 100px 0 100px 0;
        font-size: 16px;
        line-height: 1.6;
        color: #111111;
    }
}