.layout {
    display: grid;
    grid:
    "header" 30%
    "file-selector" 70%
    / 100%;
    gap: 8px;

    justify-content: center;
    align-content: center;
}

#header {
    grid-area: header;
    width: 100%;
    height: 10vh;
    margin-bottom: 5px;
}