#gui {
    grid-area: gui;
}

#gui-slots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slot {
    image-rendering: pixelated;
    width: 25px;
    height: 25px;
}

#gui-slots:nth-child(1n) {
    width: 240px;
    flex-basis: 100%;
}