#item-window {
    grid-area: items;
}

#tab-container {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#item-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#item-search {
    position: sticky;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    top: 0;
    width: 99%;
}