#properties-window {
    grid-area: properties;
    overflow-x: hidden;
    overflow-y: scroll;
}

#properties-container {
    margin: 20px 20px 20px 20px;
}

#gui-id {
    display: inline;
    position: relative;
}

#display-states {
    display: block;
    float: right;
    padding: 5px 35px 5px 5px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}

.properties-label {
    position: relative;
}

.properties-input {
    float: right;
}

.properties-input:disabled {
    filter: brightness(.6);
}

.properties-states {
    text-align: center;
}
